@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}

.my-color {
  color: red;
}

.my-font {
  font-family: 'Inter', sans-serif;
}

.my-root-class {
  background: #fafafa;
}

.my-root-class body {
  background: #fafafa;
}

.customCard {
  border-radius: 6px;
  border: 0;
  padding: 48px !important;
  height: auto;
  width: auto;
}

.cardHeader {
  padding-bottom: 38px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.avatarClass {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.pageTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 0 !important;
}

.pageSubtitle {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 !important;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.formGroup {
  margin-bottom: 0 !important;
}

.inputForm {
  width: 100%;
  height: 32px !important;
  border-radius: 6px;
  border: 1px #e2e8f0 solid;
  background: #ffffff;
  color: rgb(0 0 0 / 0.5);
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  line-height: 20px;
  --tw-ring-offset-color: #fafafa;
  box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color), var(--tw-ring-shadow);
}

.inputForm::placeholder {
  color: #00000040;
  font-style: normal;
  font-size: 14px;
}

.inputForm:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring-color), 0 0 0 2px var(--ring-offset-color);
  border-color: #00000040;
}

.inputForm:hover {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring-color), 0 0 0 2px var(--ring-offset-color);
  border-color: #00000040;
}

.inputForm:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.inputCheckbox {
  width: 16px;
  height: 16px;
  margin: 0 !important;
  color: #1677ff;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px; /* equivalent to text-sm in Tailwind */
  font-weight: 400; /* equivalent to font-normal in Tailwind */
  line-height: 22px; /* equivalent to leading-8 in Tailwind */
  gap: 8px;
}

.checkboxWrapper input[type='checkbox'] {
  /* Change as needed */
}

.checkboxWrapper:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.doForgotPassword {
  color: #1677ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.doForgotPassword:hover {
  color: rgba(22, 119, 255, 0.8) !important;

  text-decoration: none;
}

.submitButton {
  display: flex;
  width: 100%;
  height: 32px;
  font-size: 14px; /* equivalent to text-sm in Tailwind */
  font-weight: 400;
  justify-content: center;
  background: #1677ff; /* Replace with actual color */
  color: white;

  padding: 0 16px 0 16px;
  border-radius: 6px;
  border: 1px #1677ff solid;
  gap: 8px;
}

.submitButton:hover {
  background: rgba(22, 119, 255, 0.8); /* #1677ff with 80% opacity */
  border: 1px #1677ff solid;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 16px;

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #000000e0;

  a {
    color: #000000e0;
  }

  a:hover {
    text-decoration: none;
    color: rgba(22, 119, 255, 0.8);
  }
}
